<h2 class="title">Lista de Productos</h2>

<button (click)="toggleList()">{{ showList ? 'Ocultar lista' : 'Mostrar lista' }}</button>

<div class="container" *ngIf="showList">
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Costo</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of products">
                <td>{{ producto.nombre }}</td>
                <td>$ {{ producto.costo }}</td>
                <td><img src="{{ producto.image }}" alt="Coca"></td>
            </tr>
        </tbody>
    </table>
    </div>
    